<%- include("partials/header"); -%>
 <h1>Contact</h1>
 <p><strong><%= contactContent %> </strong></p>
 <!-- <form action="/contact" method="post">
    <div class="form-group">
        <label>Name</label>
         <input class="form-control" type="text" name="Name" autocomplete="off">
        <label>Country</label>
         <input class="form-control" type="text" name="countryBody" autocomplete="off">
        <label>Comments</label>
         <textarea class="form-control" name="commentBody" cols="30" rows="5" autocomplete="off"></textarea>
    </div>
    <button class="btn success" type="submit" name="button">submit</button>
 </form> -->
 <%- include("partials/footer"); -%>